@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@layer components{

    .hero-button{
        @apply px-3 py-3 border border-[#242424] rounded-full uppercase text-sm 
        tracking-widest text-gray-500 transition-all
        hover:border-[#005C46]/80 hover:text-[#005C46]/80 m-4
    }

}

/* For WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar, for horizontal scrollbars */
   
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff07; /* background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00ff513c; /* background color of the scrollbar thumb */
    border-radius: 8px; /* border radius of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00ff517b; /* background color of the scrollbar thumb when hovered */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin; /* width of the scrollbar */
    scrollbar-color: #00ff513c #ffffff00; /* thumb and track color */
  }

  
  